body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;
    color: #000;
    text-align: center;
}

.history {
    padding: 50px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-container img {
    width: 950px;
    height: 655px;
}

.image-container p {
    width: 661px;
    font-size: 18px;
    margin-top: 10px;
}